.kanban {
  display: flex;
  width: 100%;
	font-family: "Poppins", sans-serif;
  padding: 40px;
  background-color: var(--light);
  border-radius: 65px;
  flex-direction: row;
  flex-wrap: wrap;
}

.kanbanName {
  flex: 0 0 100%;
}

/* ensures column are all the same width */
.kanbanColumn {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.kanbanColumn:not(:last-child) {
  margin-right:30px;
}
/* styling for title */
.kanbanColTitle {
  margin-bottom: 20px;
  padding: 20px;
  font-size: 25px;
  color: white;
  user-select: none;
  box-sizing:box border;
  border-radius: 20px;
}

.NS {
  background-color: var(--red);
}

.WIP {
  background-color: var(--yellow);
}

.C {
  background-color: var(--green);
}

.itemInput{
  padding: 20px 30px;
  box-sizing: box border;
  background: white;
  border-radius: 65px;
/*   to identify user input */
  cursor: pointer;
}

.taskItems {
  height: 10px;
  transition: background 0.2s, height 0.2s;
}

.taskItemsActive {
  height: 20px;
  background: rgba(0,0,0,0.25);
}

.button {
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.addItem {
  display: flex;
  font-size: 50px;
  color: black;
  border: none;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
