// Importing scss styling for individual functionalities
@import 'pomodoro';
@import 'stopwatch';
@import 'musicWidget';
@import 'tasklist';
@import 'kanban';
@import 'image';

// Set colours used for styling
:root {
	--dark: #374151;
	--darker: #1F2937;
	--darkest: #111827;
	--grey: #6B7280;
	--pink: #EC4899;
	--purple: #8B5CF6;
	--light: #EEE;
    --yellow: #ffbe6a;
    --red: #ee7d90;
    --green: #54cbb5;
}

// Navbar header styling
    .Header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;    
      background-color: var(--purple);
    }
    
    .Header ul li { 
      display: inline-block;
      justify-content: flex-end;
      margin: 10px;
      color: var(--light);
    }

// CSS structure styling
    .row {
        padding: 20px;
    }

    .col-sm-6 .col-sm-3 {
        padding: 20px;
    }

    #timer {
        display: flex;
        flex-direction: column;
        align-content: flex-end;
        padding: 0px;
        height: 504px;
    }