:root {
	--dark: #374151;
	--darker: #1F2937;
	--darkest: #111827;
	--grey: #6B7280;
	--pink: #EC4899;
	--purple: #8B5CF6;
	--light: #EEE;
    --yellow: #ffbe6a;
    --red: #ee7d90;
    --green: #54cbb5;
}

* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
    color: black;
}

sliderContainer {

    display: flex;
    flex-direction: row;

}